body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.back{
    width: 35px;
}
h2 {
    text-align: center;
    color: #333;
}
label {
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.error-message {
    color: red;
    margin-bottom: 20px;
    font-size: 0.8em;
}

#background {
    background-image: url('assets/assetbackgroudn.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 80px; /* Adjust this value based on the height of your navbar */
}